<fieldset class="form__fill js-fill">
  <div class="form__fill__icon">
    <span>
      <i class="fa-regular fa-keyboard form__fill__icon__keyb"></i>
    </span>
    <h1 class="form__fill__h1">Rellena</h1>

    <span class="form__fill__icon__span-up rotate__arrow js-fill-arrow">
      <i class="fa-solid fa-angle-up form__fill__icon__up"></i>
    </span>
  </div>

  <div class="js-fillFormContent collapsed">
    <legend class="form__fill__legend">Nombre completo</legend>
    <label for="name"></label>

    <input
      class="form__fill__input js-input-name"
      type="text"
      id="name"
      placeholder="Ej: Sally Jill"
      required
    />

    <legend class="form__fill__legend">Puesto</legend>
    <label for="puesto"></label>
    <input
      class="form__fill__input js-input-job"
      type="text"
      id="puesto"
      placeholder="Ej: Front-end unicorn"
      required
    />

    <legend class="form__fill__legend">Imagen de perfil</legend>
    <label for="name"></label>
    <div class="form__fill__file" id="profile image">
      <label class="form__fill__file__button" for="imagen perfil"
        >Añadir imagen</label
      >
      <input
        class="form__fill__file__input js-input-photo js__profile-upload-btn"
        type="file"
        name="profile image"
        id="imagen perfil"
      />
      <div class="cuad js__profile-preview"></div>

      <!-- <svg class="cuad" width="30" height="30"></svg> -->
    </div>

    <legend class="form__fill__legend">Email</legend>
    <label for="name"></label>

    <input
      class="form__fill__input js-input-email"
      type="email"
      id="email"
      placeholder="Ej: sally-hill@gmail.com"
      required
    />

    <legend class="form__fill__legend">Teléfono</legend>
    <label for="name"></label>

    <input
      class="form__fill__input js-input-phone"
      type="tel"
      id="telephone"
      placeholder="Ej: 555-55-55-55"
      required
    />

    <legend class="form__fill__legend">Linkedin</legend>
    <label for="name"></label>

    <input
      class="form__fill__input js-input-linkedin"
      type="text"
      id="Linkedin"
      placeholder="Ej:linkedin.com/in/sally.hill"
      required
    />
    <legend class="form__fill__legend">Github</legend>
    <label for="name"></label>

    <input
      type="text"
      class="form__fill__input js-input-github"
      id="Github"
      placeholder="Ej: @sally-hill"
      required
    />
  </div>
</fieldset>
