<fieldset class="form__share">
  <div class="share">
    <span><i class="fa-solid fa-share-nodes share__icon"></i></span>
    <legend class="share__title">Comparte</legend>
    <span><i class="fa-solid fa-angle-up"></i></span>
  </div>
  <button class="btn_create-card">
    <i class="fa-regular fa-address-card"></i> Crear tarjeta
  </button>
  <div class="share__result">
    <p class="share__result__title">La tarjeta ha sido creada:</p>
    <!-- Aqui va la url generada de la tarjeta -->
    <i class="fa-brands fa-x-twitter"></i>
    <input type="submit" value="Compartir en X" class="btn_share" />
  </div>
</fieldset>

<!-- Arrow up
<i class="fa-solid fa-angle-up"></i>
Arrow down
<i class="fa-solid fa-angle-down"></i> -->
