<fieldset class="form__fill">
  <h1 class="form__fill__h1">Rellena<h1>

  <legend class="form__fill__legend">Nombre completo</legend>
  <label for="name"></label>

  <input
    class="form__fill__input"
    type="text"
    id="name"
    placeholder="Nombre completo"
    required
  />

  <legend class="form__fill__legend">Puesto</legend>
  <label for="name"></label>
  <input
    class="form__fill__input"
    type="text"
    id="puesto"
    placeholder="Puesto"
    required
  />

  <legend class="form__fill__legend">Imagen de perfil</legend>
  <label for="name"></label
  >
  <button class="form__fill__button">
      <input class="y" type="checkbox" target="blank">
      <input class="j"  type="name" id="name" placeholder="imagen de perfil" >
  </button>

  <legend class="form__fill__legend">Email</legend>
  <label for="name"></label>

  <input
    class="form__fill__input"
    type="email"
    id="email"
    placeholder="nombre.apellidos@mail.com"
    required
  />

  <legend class="form__fill__legend">Teléfono</legend>
  <label for="name"></label>

  <input
    class="form__fill__input"
    type="tel"
    id="telephone"
    placeholder="Ej: 123456789"
    required
  />

  <legend class="form__fill__legend">Linkedin</legend>
  <label for="name"></label>

  <input
    class="form__fill__input"
    type="Linkedin"
    id="Linkedin"
    placeholder="Linkedin"
    required
  />

  <legend class="form__fill__legend">Github</legend>
  <label for="name"></label>

  <input
    class="form__fill__input"
    type="Github"
    id="Github"
    placeholder="Github"
    required
  />
</fieldset>
