<fieldset class="form__share js-share">
  <div class="share">
    <div class="share__box">
      <span>
        <i class="fa-solid fa-share-nodes share__icon"></i>
      </span>
      <legend class="share__title">Comparte</legend>
      <span class="share__arrow js-share-arrow rotate__arrow">
        <i class="fa-solid fa-angle-up"></i>
      </span>
    </div>
  </div>
  <div class="js-shareFormContent collapsed">
    <p class="share_error js_share_error"></p>
    <span class="create-car__container">
      <button class="btn_create-card js_btn_card">
        <i class="fa-regular fa-address-card"></i> Crear tarjeta
      </button>
      <div class="border"></div>
    </span>
    <fieldset class="share__result">
      <p class="share__result__title">La tarjeta ha sido creada:</p>
      <div class="share__result__url">
        Aqui va la url generada de la tarjeta
      </div>
      <a class="btn_share-twitter" href="">
        <i class="fa-brands fa-x-twitter"></i> Compartir en X
      </a>
      <div class="border"></div>
    </fieldset>
  </div>

  <!-- Arrow up
<i class="fa-solid fa-angle-up"></i>
Arrow down
<i class="fa-solid fa-angle-down"></i> -->
</fieldset>
