<fieldset class="form__fill js-fill">
 
  <div class="form__fill__icon" >
    
    <h1 class="form__fill__h1">Rellena<h1>
    <i class="fa-regular fa-keyboard form__fill__icon__keyb"></i>
   
    <span class="rotate__arrow"><i class="fa-solid fa-angle-up form__fill__icon__up"></i></span>
 </div>

  <div class="js-fillFormContent collapsed">
  
    <legend class="form__fill__legend">Nombre completo</legend>
    <label for="name"></label>
  
    <input
      class="form__fill__input"
      type="text"
      id="name"
      placeholder="Nombre completo"
      required
    />
  
    <legend class="form__fill__legend">Puesto</legend>
    <label for="puesto"></label>
    <input
      class="form__fill__input"
      type="text"
      id="puesto"
      placeholder="Puesto"
      required
    />
  
    <legend class="form__fill__legend">Imagen de perfil</legend>
    <label for="name"></label
    >
   <div class="form__fill__file" id="profile image">
  
    <label class="form__fill__file__button" for="imagen perfil">Añadir imagen</label>
    <input class="form__fill__file__input" type="file" name="profile image" id="imagen perfil" >
    <div class="cuad"></div>

    <!-- <svg class="cuad" width="30" height="30"></svg> -->

  </div>
  
    <legend class="form__fill__legend">Email</legend>
    <label for="name"></label>
  
    <input
      class="form__fill__input"
      type="email"
      id="email"
      placeholder="nombre.apellidos@mail.com"
      required
    />
  
    <legend class="form__fill__legend">Teléfono</legend>
    <label for="name"></label>
  
    <input
      class="form__fill__input"
      type="tel"
      id="telephone"
      placeholder="Ej: 123456789"
      required
    />
  
    <legend class="form__fill__legend">Linkedin</legend>
    <label for="name"></label>
  
    <input
      class="form__fill__input"
      type="Linkedin"
      id="Linkedin"
      placeholder="Linkedin"
      required
    />
  
    <legend class="form__fill__legend">Github</legend>
    <label for="name"></label>
  
    <input
      class="form__fill__input"
      type="Github"
      id="Github"
      placeholder="Github"
      required
    />
</div>
</fieldset>
