<main class="landing">
    <h1 class="landing__title">Crea tu tarjeta de visita</h1>
    <p class="landing__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <div class="landing__icons-box">
      <div class="landing__icon-and-text">
          <i class="fa-regular fa-object-ungroup landing__icon"></i>
          <span class="landing__icon-text">Diseña</span>
      </div>

      <div class="landing__icon-and-text">
          <i class="fa-regular fa-keyboard landing__icon"></i>
          <span class="landing__icon-text">Rellena</span>
      </div>

      <div class="landing__icon-and-text">
          <i class="fa-solid fa-share-nodes landing__icon"></i>
          <span class="landing__icon-text">Comparte</span>
      </div>

    </div>
    <a href="./index_form.html" class="landing__button">Comenzar</a>
  </main>