<seccion class="preview">
        <div class="preview__div-button js-reset-buton">
            <button class="preview__button">
                <i class="fa-solid fa-trash-can"></i>
                RESET
            </button>
        </div>
        <section class="preview__card">
            <div class="preview__lateral-decoration">
                <h2 class="preview__card-id js-preview-name"></h2>
                <h3 class="preview__card-job js-preview-job"></h3>
            </div>
                <img src="./assets/images/snoopy.jpg" alt="Foto de Snoopy" class="preview__card-img js-preview-photo">
                <nav class="preview__card-icons">
                    <a href=""
                    target="_blank" class="icon js-preview-phone">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    </a>
                    <a href=""
                    target="_blank" class="icon js-preview-email">
                    <i class="fa-regular fa-envelope"></i>
                    </a>
                    <a href=""
                    target="_blank" class="icon js-preview-linkedin">
                    <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href=""
                    target="_blank" class="icon js-preview-github">
                    <i class="fa-brands fa-github-alt"></i>
                    </a>
                </nav>
        </section>
</seccion>