<seccion class="preview">
    <button class="preview__button" type="reset">
        <i class="fa-solid fa-trash-can"></i>
        RESET
    </button>
    <section class="preview__card">
        <h2 class="preview__card-id">nombre apellido</h2>
        <h3 class="preview__card-job">front-end developer</h3>
        <img src="./assets/images/snoopy.jpg" alt="Foto de Snoopy" class="preview__card-img">
        <nav class="preview__card-icons">
            <a href="" 
            target="_blank" class="icon-mobile">
            <i class="fa-solid fa-mobile-screen-button"></i>
            </a>
            <a href="mailto:" 
            target="_blank" class="icon-mail">
            <i class="fa-regular fa-envelope"></i>
            </a>
            <a href=""
            target="_blank" class="icon-in">
            <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href=""
            target="_blank" class="icon-git">
            <i class="fa-brands fa-github-alt"></i>
            </a>
        </nav>
    </section>
</seccion>