// fonts
$font-merriweather: "Merriweather", serif;
$font-montserrat-bold: "Montserrat", sans-serif;
$font-montserrat-regular: "Montserrat", sans-serif;
$font-open-sans-semiB: "Open Sans", sans-serif;
$font-open-sans-regular: "Open Sans", sans-serif;

// colors
//white-four
$background-color-landing: #f5f5f5;
//dull-orange
$color-icon-btn: #e17334;
$color-border-opacity: rgba(225, 115, 52, 0.24);
//dirty-blue
$color-button: #438792;
//brownish-grey
$color-water-mark: #6b6b6b;
$color-watermark-opacity:rgba(107, 107, 107, 0.5);
//gunmetal
$color-form-titles: #54585a;
//dark-green-blue
$color-palette-1-1: #114e4e;
//dirty-blue
$color-palette-1-2: #438792;
//hospital-green
$color-palette-1-3: #a2deaf;
//dried-blood
$color-palette-2-1: #420101;
//rusty-red
$color-palette-2-2: #bd1010;
//tomato
$color-palette-2-3: #e95626;
//slate
$color-palette-3-1: #3e5b65;
//faded-orange
$color-palette-3-2: #eab052;
//light-grey-blue
$color-palette-3-3: #a0c0cf;
//Preview background degradado:
$color-silver: #bfcdd0;
$color-pale-grey: #dde9ed;
//Blancos:
$white-four: #f5f5f5;
$white-two: #ffffff;
$white: #d5d5d5;
//Líneas:
$line-white: #d8d8d8;
