.body__main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-image: linear-gradient(
    to bottom,
    $background-color-landing,
    $white-two
  );

  @media all and (min-width: 768px) {
    padding: 2rem 4rem;
    flex-direction: row;
    min-height: 100vh;
  }
  &-form {
    padding: 0 2rem;

    @media all and (min-width: 768px) {
      order: -1;
      width: 60vw;
    }
  }
}
.collapsed {
  display: none;
}
.rotate__arrow {
  transform: rotate(180deg);
}