 .preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    background-image: linear-gradient(to bottom, #bfcdd0 ,#dde9ed );
    padding-bottom: 4rem;
    padding-left: 4.5rem;
    
    &__button {
        font-family: $font-open-sans-regular;
        font-size: 1.2rem;
        color: $color-form-titles;
        line-height: 2rem;
        border-radius: 5rem;
        border: 0.1rem $white-two solid;
        width: 7.5rem;
        height: 3rem;
        margin-top: 3.8rem;
        background-color: #bfcdd0;
        text-align: center;
        padding-top: 0.5rem;
    }

    .preview__card {
        width: 24rem;
        margin-top: 2rem;
        background-color: $white-two;
        border: solid 1px rgba(0, 0, 0, 0.35);
        box-sizing: content-box;
        border-radius: 0.3rem;
        box-shadow: 2px 2px 0px $color-silver;

        .preview__card-id {
            font-family: $font-montserrat-bold;
            font-size: 1.8rem;
            color: $color-palette-1-1;
            font-weight: 700;
            margin-left: 2rem;
            margin-top: 2.1rem;
            margin-bottom: 0.4rem;
        }

        .preview__card-job {
            font-family: $font-montserrat-regular;
            font-size: 1.6rem;
            color: $color-form-titles;
            font-weight: 400;
            margin-left: 2rem;
            margin-bottom: 1rem;
        }

        .preview__lateral-decoration {
            border-left: solid $color-button 0.5rem;
        }

        .preview__card-img {
            width: 24rem;
        }
        }

        .preview__card-icons{
            gap: 1rem;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            margin-left: 2rem;
            cursor: pointer;


            & a{
                text-decoration: none;
                text-align: center;
            }

            .icon {
                color: $color-palette-1-1;
                border: solid $color-palette-1-3 0.2rem;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                font-size: 1.8rem;
                width: 3.2rem;
                height: 3.2rem;
                line-height: 3.2rem;
            }
        }
    }
